@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body{
  background-color: #e7e7e7;
}

*::selection {
  background: #000;
  color: #fff;
}

.main {
  width: 100%;
}

.home {
  width: 100%;
  height: 100vh;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 70px;
}

.nav .right {
  display: flex;
  align-items: center;
}

.nav img {
  width: 150px;
  cursor: pointer;
}

.nav .right a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  letter-spacing: -1px;
  margin-left: 20px;
  margin-right: 27px;
}

.nav .right i {
  font-size: 30px;
  margin-left: 5px;
  cursor: pointer;
  /* position: sticky; */
}

.home .homemain {
  width: 100%;
  padding: 15vw 15vw;
  /* padding-bottom: 17vw; */
}

.homemain h1 {
  font-weight: 500;
  font-size: 1.34vw;
}

.homemain .headings {
  display: flex;
  gap: 40px;
}

.homemain .headings h1 {
  font-size: 7vw;
  color: transparent;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
  letter-spacing: -5px;
  line-height: 1;
}

.homelast {
  padding: 3vw 15vw;
}

.home .homelast p {
  font-size: 1.6vw;
  font-weight: 400;
  letter-spacing: 0.98px;;
}

.homelast::selection {
  background: #000;
  color: #fff;
}

.featured{
  padding: 15vw 15vw 10vw;
}

.fheading > h1{
  font-size: 4vw;
  font-weight: 400;
  line-height: 1;
}

.fheading > h1:nth-child(2){
  color: transparent;
  -webkit-text-stroke: 1px black;
}

.fimages{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  margin-top: 5vw;
}

.fleft {
  width: 45%;
  height: inherit;
  /* border: 2px solid blue; */
  overflow: hidden;
}

.fright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  height: inherit;
}

.fright .images{
  width: 90%;
  height: 90%;
  background-color: aqua;
}

.fright .images img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fleft .fleftelm{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fleft h1{
  font-size: 2.5vw;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  margin: 1.5vw 0;
}

.fleft h3{
  font-size: 1.5vw;
  font-weight: 400;
}

.fleft h4{
  opacity: .5;
}

.btndiv{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btndiv button {
  padding: 1.3vw 2.5vw;
  font-size: 1.1vw;
  border: 2px solid #e6e6e6;
  border-radius: 100px;
  font-weight: 500;
  letter-spacing: -1px;
}

.dev{
  width: 100%;
  padding: 5vw 15vw;
}

.dev h1{
  font-size: 3.5vw;
  font-weight: 400;
  width: 50%;
  line-height: 1;
}

.dev p{
  font-size: 1.5vw;
  line-height: 1;
  letter-spacing: -.5px;
  margin-top: 3vw;
  width: 55%;
}

.slides{
  display: flex;
  justify-content: space-between;
  padding: 3vw 10vw ;
}

.slide {
  width: 30%;
}

.slide .img{
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: yellow; */
}

.slide .img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide .tag{
  width: fit-content;
  border-radius: 100px;
  margin: 20px 0;
  background-color: #f7f7f7;
  padding: 10px 22px;
}

.slide h3{
  font-size: 1.4vw;
  font-weight: 400;
  letter-spacing: -.5px;
}

.btn-div{
  margin: 5vw 0;
}

